/* Reset básico */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #1a1f36;
    color: #e0e7ff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

/* Cabeçalho */
header {
    background-color: #1f2937;
    color: #e0e7ff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Menu animado */

.menu {
    position: fixed;
    bottom: 20px; /* Distância da borda inferior */
    left: 20px;   /* Distância da borda esquerda */
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}


.menu.active {
    width: 400px;
    height: 400px;
}
.menu li {
    position: absolute;
    list-style-type: none;
    transform: translate(0, 0) scale(0);
    transition: 0.5s;
    opacity: 0;
    width: 60px;
    height: 60px;
}
.menu.active li {
    transform: translate(var(--x), var(--y)) scale(1);
    opacity: 1;
    transition-delay: calc(0.1s * var(--i));
}
.menu .toggleBtn {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #2f363e;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    font-size: 2em;
    transition: 0.5s;
}
.menu .toggleBtn:hover {
    background: #4a5260;
}
.menu.active .toggleBtn {
    transform: rotate(315deg);
}
.menu li a {
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 50%;
    font-size: 1.5em;
    transition: 0.5s;
    color: var(--clr);
    
}

.menu li a:hover {
    color: #fff;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr);
}


/* Conteúdo Principal */
main {
    text-align: center;
    margin-top: 20px;
    flex: 1; /* Expande o main para empurrar o footer para baixo */
}

/* Botão de Embaralhar e Botão Voltar */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Centralizar botão Voltar */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Centralizando o Quebra-Cabeça */
.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    width: 320px; /* Definindo uma largura fixa */
    margin: 0 auto; /* Centraliza horizontalmente */
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Peças */
.piece {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.piece.empty {
    background-color: transparent;
}

.piece img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Rodapé */
footer {
    background-color: #1f2937;
    color: #94a3b8;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}
